<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svalero.apimoviesprueba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cine"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".opening.TrailerActivity" />
        <activity android:name=".one_movie.OneMovieActivity" />
        <activity android:name=".opening.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".movies.view.MoviesActivity" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>